* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: blue;
    color: yellow;
}
a {
    text-decoration: none;
    color: aquamarine;
}
section#articles {
    max-width: 1240px;
    padding: 0 2rem;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: 46px;
}